<main>   
    <div class="game-container"> 
        <div class="stratego-board">
                <div *ngFor="let row of strategoBoardView; let x = index" class="row">
                    <div *ngFor="let piece of row; let y = index" class="square" [ngClass]="{
                        'selected-square': isSquareSelected(x, y)
                    }"
                        (click)="move(x, y)"
                    >
                        <div [ngClass]="{'safe-square': isSquareSafeForSelectedPiece(x, y)}"></div>
                            @if (piece) {
                                {{piece}}
                            } 
                        <img *ngIf="piece" [src]="(pieceImagePaths[piece])" [alt]="piece" class="piece">
                    </div>
                </div>
            </div>
        </div> 

<div class="game-over-message">
    @if (gameOver) {
        Player {{playerColor + 1}} Wins!
    }
</div>

<div class="legend">
    <h3>Legend</h3>
    <div class="legend-item" *ngFor="let piece of pieceStats">
      <img [src]="piece.icon" [alt]="piece.name" class="piece-icon">
      <div class="piece-details">
        <p>{{ piece.name }}</p>
        <p>Attack: {{ piece.attack }}</p>
        <p>Defense: {{ piece.defense }}</p>
      </div>
    </div>
</div>
</main>
