<main>   
    <div class="game-container"> 
        <div class="stratego-board" [ngClass]="{'rotated': rotate()}">
                <div *ngFor="let row of strategoBoardView; let x = index" class="row">
                    <div *ngFor="let piece of row; let y = index" class="square" [ngClass]="{
                        'selected-square': isSquareSelected(x, y)
                    }"
                        (click)="move(x, y)"
                    >
                        <div [ngClass]="{'safe-square': isSquareSafeForSelectedPiece(x, y)}"
                        [ngStyle]="{'background-color': getSafeSquareColor()}"></div>
                             <!-- [ngStyle]="{'background-color': getSafeSquareColor(playerColor)}"
                             >
                        </div> -->

                        @if (visible(x, y)) {
                <img *ngIf="piece" [src]="(pieceImagePaths[piece])" [alt]="piece" class="piece" [ngClass]="{'rotated': rotate()}">
                        }
            @else {
                <img *ngIf="piece" [src]="opponentImagePath" [alt]="piece" class="piece" [ngClass]="{'rotated': rotate()}">
            }
            
        </div>
                </div>
            </div>
        </div> 

@if (gameOver) {
    <div class="game-over-message">
        Player {{playerColor + 1}} Wins!
    </div>

    <!-- Just a place holder right now for the play again button -->
    <button type="button" class="playAgainButton">Play Again?</button>
}

@if (!gameOver) {
<div class="legend">
    <h3>Legend</h3>
    <div class="legend-item" *ngFor="let piece of pieceStats">
      <img [src]="piece.icon" [alt]="piece.name" class="piece-icon">
      <div class="piece-details">
        <p>{{ piece.name }}</p>
        
        <!-- <p>Attack: {{ piece.attack }}</p>
        <p>Defense: {{ piece.defense }}</p> -->
        <button>Details</button>
      </div>
    </div>
</div>
}
</main>
